.recipes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.cardContainer{
    display: flex;
    width: 90%;
    margin-inline: 50px;
    padding: 48px 0px;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 48px;
    flex-wrap: wrap;
    border-radius: 30px 30px 0px 0px;
    background: #F2E9E4;
}
.card{
    display: flex;
    width: 400px;
    height: 400px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    border-radius: 20px;
    background: #C56183;
}
