.recipes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.cardContainer{
    display: flex;
    width: 90%;
    margin-inline: 50px;
    padding: 48px 0px;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 48px;
    flex-wrap: wrap;
    border-radius: 30px 30px 0px 0px;
    background: #F2E9E4;
}

.pagination_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination li a {
    padding: 0px 24px 5px 24px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 80px;

    color: #000;
    text-align: center;
    font-family: Pacifico;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.5;  
}
  
  .pagination li a:hover {
    background-color: #E27D60;
  }
  
  .pagination li.active a {
    background-color: #E27D60;
    color: white;
    border: 1px solid #E27D60;
  }

