.container_banner {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
    align-self: stretch;
    flex-wrap: wrap;
}

.container_logo {
    width: 300px;
    height: 300px;
    padding: 10px;
}

.container_logo img {
    width: 100%;
    height: 100%;
}

.banner_text {
    display: flex;
    width: 780px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.banner_text h1 {
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner_text h2 {
    font-family: Poppins;
    font-size: 24px;
}

.banner_text p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.first_letter {
    color: #E27D60;
    text-align: center;
    font-family: Pacifico;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buttons_banner {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 50px;
    align-self: stretch;
    flex-wrap: wrap;
}

.button_banner  {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Pacifico;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button_banner {
    display: flex;
    width: 300px;
    height: 80px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 50px;

}

.button_banner:nth-child(1) {
    background: #E27D60;
}

.button_banner:nth-child(2) {
    background: #C56183;
}

.button_banner:nth-child(3) {
    background: #77BA99;
}

.button_banner:nth-child(4) {
    background: #F6C90E;
}