.recipeFilterWrapper{
    display: flex;
    margin-inline: auto;
    width: 60%;
    padding: 30px 0px;
    flex-direction: column;
    align-items: center;
    gap: 18px;

    border-radius: 30px;
    background: #F2E9E4;
}
.recipe_filter{
    display: flex;
    padding: 16px 48px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    align-self: stretch;
    flex-wrap: wrap
}
.filter_options{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
    
}
label{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
select{
    display: flex;
    width: 280px;
    height: auto;
    padding: 16px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 20px;
    background: #FFF;
    border: none;
}
