
header {
    display: flex;
    padding: 10px 50px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    flex-wrap: wrap;

    background: #E27D60;
}

@media screen and (max-width: 1000px) {
    header {
        background: none;
        padding: 0;

    }
    
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 20px;
    }
    
}

@media screen and (max-width: 414px) {
    nav ul {
        flex-direction: column;
        row-gap: 5px;
    }
    
}

nav a, .button_account a {
    color: #FFF;
    font-family: Pacifico;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

nav li {
    display: inline;
}

.button_account {
    display: flex;
    width: 187px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}



.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 36px;
  }
  
  .bm-burger-bars {
    background: #E27D60;
  }
  
  .bm-menu {
    background: #E27D60;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  .bm-item-list {
    color: #000;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
  }
  
  .menu-item {
    display: block;
    padding: 0.5em;
    color: #000;
    text-decoration: none;
  }

  .bm-menu-wrap {
    right: 0 !important;

  }

  .bm-cross-button {
    color: #FFF;
    border-color: #FFF;
    background: white;
    border-radius: 5px;
  }

.bm-overlay {
    left: 0;
}

.bm-cross {
    background: #E27D60;
}